@font-face {
  font-family: 'Futurama';
  src: url("../assets/fonts/fr-bold.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Futurama header';
  src: url("../assets/fonts/fr-title.ttf");
  font-weight: 300;
}

@font-face {
  font-family: 'Futurama alien 1';
  src: url("../assets/fonts/fr-fal1.ttf");
}

@font-face {
  font-family: 'Futurama alien 2';
  src: url("../assets/fonts/fr-fal2.ttf");
}

@font-face {
  font-family: 'M mono';
  src: url("../assets/fonts/monoMMM_5.ttf");
}

@font-face {
  font-family: 'inconsolata 500';
  src: url("../assets/fonts/Inconsolata_Condensed-Medium.ttf");
}
