$COLOR-FONT-DARK: #77DA9F;
$COLOR-FONT-LIGHT: #A8F6B5;
$COLOR-FONT-PRIMARY: #25FF7E;
$COLOR-FONT-DARK: #398E78;

$COLOR-PRIMARY: #568085;
$COLOR-PRIMARY-DARK: #376663;
$COLOR-PRIMARY-LIGHT: #59a5a0;
$COLOR-PRIMARY-LIGHT-XL: #7dbbc1;

$COLOR-SECONDARY: #5D5E65;
$COLOR-SECONDARY-LIGHT-XL: white;
$COLOR-SECONDARY-DARK-XL: black;
$COLOR-SECONDARY-DARK: rgb(59, 59, 59);

$ITEM-HEIGHT: 30px;
$BREAKPOINT-320: 330px;
$BREAKPOINT-520: 520px;
