@import '../../global-styles/variables';
@import '../../global-styles/fonts';

.tabs {
  border-bottom: 2px solid $COLOR-FONT-PRIMARY;
  button {
    color: $COLOR-FONT-PRIMARY;
    background-color: transparent;
    border: none;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
    border: 1px solid $COLOR-FONT-PRIMARY;
    border-bottom: none;
    text-transform: uppercase;
    font-family: 'Futurama';
    font-size: 1rem;
    padding: 0 10px;

    &:hover {
      color: $COLOR-FONT-LIGHT;
      cursor: pointer;
    }
  }

  .selected {
    background-color: $COLOR-FONT-PRIMARY;
    color: $COLOR-SECONDARY-DARK-XL;

    &:hover {
      color: $COLOR-SECONDARY;
      cursor: pointer;
    }
  }
}